@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-title">Recent Purchases</p>
            <div class="container">
                <main role="main" class="pb-3">

                </main>
            </div>
        </div>
    </div>
</div>
